/* .banner{
    margin-top: -10vh;
    height: 80vh;
    margin-bottom: -80px;
    color: white;
    object-fit: contain;
}
.banner__contents{
    margin-left: 30px;
    padding-top: 300px;
}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner__buttons{
    cursor: pointer;
    color: #ffff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgb(51, 51, 51, 0.5);
}
.play{
    color: #000;
    background-color: #ffff;
}
.banner__buttons:hover{
    color: #000;
    background-color: #c6c6c6;
    transition: all0.2s;
}
.banner__description{
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}
.banner__fadeBottom{
    height: 40vh;
    background-image: linear-gradient(
        180deg,
        transition,
        rgb(37,37,37,0.91),
        #111
    );
} */


.banner{
    margin-top: -10vh;
    height: 80vh;
    margin-bottom: -80px;
    color: white;
    object-fit: contain;
}
  
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 170px;
  }
  
  .banner__title {
    padding-top: 5rem;
    font-size: 3 rem;
    font-weight: 800;
    padding-bottom: 2rem;
  }
  
  .banner__description {
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 400px;
    height: 80px;
  }
  
  .banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  
  .banner__fadeBottom {
    height: 20rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgb(37, 37, 37, 0.61),
      #111
    );
  }